[Unit]
Description=Acestream Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/acestream/acestream.start
ExecStop=/opt/acestream/acestream.stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
